/**
 * Styling the bookmarks list using flexbox
 */
.list {
    display: flex;
    flex-direction: column;
    padding: 0;

    &-item {
        align-items: center;
        border-bottom: 1px solid $color-separator-light;
        display: flex;
        list-style: none;
        padding: 1em 2em;
        position: relative;
        font-size: $font-size-sm;
        min-height: 32px;
        // This would align `__controls` to the end of the "flex-container"
        &__title {
            padding: 0 1.5em;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        &__controls {
            margin-left: auto;
            color: $color-tertiary;
            flex-shrink: 0;
            &--edit { display: none !important; }
        }
        &__editing {    
            .list-item__edit,
            .list-item__controls--edit {
                display: block !important;
            }
            .list-item__controls > .icon,
            .list-item__title { display: none; }
        }
        &__edit {
            display: none !important;
            flex-grow: 2;
            padding: 0 1em;
        }
        &__avatar {
            position: absolute;
            max-height: 26px;
            height: 70%;
            margin-left: -26px;
            & > svg {
                vertical-align: middle;
                height: 100%;
            }
            & > .index {
                vertical-align: middle;
            }
        }
    }
}