.pagination {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 1em;

    &__item {
        list-style: none;
        padding: .5em;
        border-radius: 5px;
        cursor: pointer;
        margin: 0 2em;

        &--disabled { opacity: 0; }
        &--first { margin-right: auto; }
        &--last { margin-left: auto; }
        &--active {
            color: white;
            background: $color-primary-light;
        }
        &:hover { background: $background-grey; }
    }
}