/* Colors */
$color-primary: #2196F3;
$color-primary-light: #03A9F4;
$color-secondary: #00bcd4;
$color-tertiary: #607d8b;
$color-accent: #3F51B5;
$color-separator: #d8d8d8;
$color-separator-light: #ebebeb;
$color-danger: #E91E63;
/* Background */
$background-light-grey: #f9f9f9;
$background-grey: $color-separator;

/* Font Sizes */
$font-size-xl: 1.8em;
$font-size-lg: 1.5em;
$font-size-md: 1.2em;
$font-size-sm: 1em;
$font-size-xs: .75em;